

/*
*
*	Physican in patient Profile
*
*/

.admin-select-physician-backend{
	max-height: 300px;
	overflow:hidden;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-moz-column-gap: 20px;
}
.admin-select-physician-backend  .single-physician{	
	display: inline-block;
    padding: 10px 0;
	font-weight: bold;
	width: 33%;
	float: left;
}

.admin-select-physician-backend  .single-physician input[type="checkbox"]{
	min-width: 0;
}