/*
*
*		Patient Side Schedule with Physician
*		09-23-2016
*
*/

.feedback{
	width: 100%;
	display:inline-block;
	font-size: 16px;
	text-align:center;
	border-radius: 5px;
}

.error-message{
	color: #f00;
	border: 1px solid #f00 !important;
	padding:5px 10px;
	margin: 10px 0;
}
.success-message{
	color: #44db41;
	border: 1px solid #44db41 !important;
	padding:5px 10px;
	margin: 10px 0;
}

.empty-message{
	color: #f00;
	border: 1px solid #000 !important;
	padding:5px 10px;
	margin: 10px 0;
}


#patient_side_appointment_modal #patient-physician-list{
	max-height: 270px;
    overflow-x: hidden;
}
#patient_side_appointment_modal .single-physician{
	padding: 5px;
    background: #eee;
    display: inline-block;
    max-width: 170px;
    margin: 5px;
    width: 170px;
    min-width: 170px;
	text-align: center;
	display: table-cell;
    float: left;
    border-radius: 5px;
	cursor: pointer;
}
#patient_side_appointment_modal .single-physician  img{
	max-width:50px;
	display: inline-block;
	border-radius: 15px;
}
#patient_side_appointment_modal .single-physician .name{
	width: 100%;
    display: inline-block;
}
#patient_side_appointment_modal .well{
	margin:0;
	padding: 0;
	display: inline-block;
	width: 100%;
}
#patient_side_appointment_modal .modal-footer{
	margin:0;
}

#patient_side_appointment_modal #next_btn{
	display: none;
}

#patient_side_appointment_modal .appointment-selection{
	display: inline-block;
    width: 100%;
	padding: 10px;
}

#patient_side_appointment_modal .appointment-selection a{
	background: #009bc8 !important;
	color: #fff;
	border-color: #009bc8;
}
#patient_side_appointment_modal .appointment-selection a:hover{
	background: #fff !important;
	color: #009bc8;
}

#patient_side_appointment_modal .half-step{
	width: 45%;
    float: left;
    margin: 10px;
}

#patient_side_appointment_modal .half-step label{
    width: 30%;
    float: left;
    font-size: 12px;
	text-align: left;
}
#patient_side_appointment_modal .half-step input[type=text],
#patient_side_appointment_modal .half-step input[type=email],
#patient_side_appointment_modal .half-step select{
	width:70%;
}


.physician-appointment-filter .half-step{
	width: 48%;
    float: left;
    margin: 10px 5px;
}
.physician-appointment-filter .half-step .date-search{
	position: relative;
}
.physician-appointment-filter .half-step .date-search i{
	position: absolute;
	right: 5px;
    top: 10px;
}

#patient_side_appointment_modal .cdrmed-appointment-selection em{
	color: #f00;
}

#patient_side_appointment_modal .well{
	border: none;
}

#title_span{
	color: #000;
	font-size: 18px;
	width: 100%;
    display: inline-block;
	margin-bottom: 10px;
}

#patient-physician-list-body{
	background: #fff;
}

.calendar.right,
.calendar.left{
	padding:0;
	background: transparent;
	font-size: 14px;
	border: none;
}