@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/OpenSans-Bold-webfont.eot');
    src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('fonts/OpenSans-Light-webfont.eot');
    src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('fonts/OpenSans-Semibold-webfont.eot');
    src: url('fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on March 1, 2016 */
@font-face {
    font-family: 'museo_slab500';
    src: url('fonts/museo_slab_0-webfont.eot');
    src: url('fonts/museo_slab_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo_slab_0-webfont.woff2') format('woff2'),
         url('fonts/museo_slab_0-webfont.woff') format('woff'),
         url('fonts/museo_slab_0-webfont.ttf') format('truetype'),
         url('fonts/museo_slab_0-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;
}
#footer-navigation {
	display: none;
}
img.dfb {
    float: right;
    margin-top: -26px;
    margin-right: 15px;
}
.patient-death-date, #update-death {
	display: none;
}
p.docutment-types {
    color: gray;
    font-weight: bold;
    line-height: 25px;
}	
p#mbox-doc-desc {
    color: black;
    font-weight: bold;
}
.mmjrecomendation {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #cecece;
}
.mmj-detail-row {
    padding: 0;
    border-bottom: 1px solid #cecece;
    width: 100%;
    display: inline-block;
	position:relative;
}
.mmj-detail-row:after{
	border-right: 1px solid #dedede;
	width:0;height:100%;content:'';position:absolute;
	left: 24%;
    top: 0;
}
.mmj-detail-row:last-child{border-bottom:none;}
div#profile {
    padding-bottom: 30px;
}
span.mmj-detail-label {
    width: 24%;
    float: left;
    padding: 10px;
    display: inline-block;
	font-family: 'open_sanssemibold';
    font-size: 13px;
}
.mmj-detail-value {
    display: inline-block;
    padding: 10px;
    width: 76%;
}
#pending-counts {
    background: #f84843 none repeat scroll 0 0;
    border-radius: 50%;
    color: white;
    float: right;
    font-size: 14px;
    margin-right: -50px;
    margin-top: -20px;
    padding: 4px 8px 4px;
}
.user_profile_image img {
    border-radius: 100px !important;
}
.multi-select-modal .modal-content{
    background-color: #fff;
    border: 2px solid;
    border-radius: 15px;
    border-top: 20px solid ;
    border-bottom: 20px solid ;
	}
.multi-select-modal .modal-header {
    border-bottom: none;
}
.multi-select-modal .modal-title {
    font-size: 20px;
    font-family: 'open_sansbold';
}
.multi-select-modal button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: #fff;
    border: 2px solid;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-shadow: none;
    color: #7A2A90;
    opacity: 1;
    font-size: 16px;
    margin-right: -30px;
}
.multi-select-modal .modal-body ul{
	height:200px;
	width:100%;
	padding: 0px 0 10px 0px;
    border: 1px solid;
	}

.multi-select-modal .modal-body ul li{
	width:100%;display:inline-block;position:relative;
	}
.multi-select-modal .modal-body ul li input{
	opacity:0;position:absolute;left:-20px;
	}

.multi-select-modal .modal-body ul label{
	width: 100%;
    display: inline-block;
    margin: 0;
    padding: 5px 10px;
    font-family: 'open_sanssemibold';
    font-weight: normal;
	cursor:pointer;
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	}
.multi-select-modal .mCSB_inside > .mCSB_container {
    margin-right: 0;
}
.multi-select-modal .modal-body input[type="checkbox"]:checked + label{
    font-family: 'open_sansbold';
	}
.btn, button:focus{outline:none;}
.selected-terpens{display:inline-block;width:100%;margin:10px 0}
.selected-terpens b{
	font-family:'open_sansbold';
	font-size:18px;
	}
.selected-terpens p {
    margin: 0;
    font-family: 'open_sanssemibold';
}

/*
PURPLE POPUP
add class purple with .modal-dialog.multi-select-modal
*/

.multi-select-modal.purple .modal-content,
.multi-select-modal.purple button.close,
.multi-select-modal.purple .modal-body ul
{border-color:#7A2A90;}

.multi-select-modal.purple .modal-body input[type="checkbox"]:checked + label
{background: #bc94c7;}

.multi-select-modal.purple .modal-title,
.multi-select-modal.purple button.close,
.multi-select-modal.purple .modal-body ul label,
.multi-select-modal.purple .modal-body input[type="checkbox"]:checked + label,
.purple .selected-terpens b,
.purple .selected-terpens p
{color: #7A2A90;}

/*
Reded POPUP
add class reded with .modal-dialog.multi-select-modal
*/

.multi-select-modal.reded .modal-content,
.multi-select-modal.reded button.close,
.multi-select-modal.reded .modal-body ul
{border-color:#cf102d;}

.multi-select-modal.reded .modal-body input[type="checkbox"]:checked + label
{background: #F1D2CC;}

.multi-select-modal.reded .modal-title,
.multi-select-modal.reded button.close,
.multi-select-modal.reded .modal-body ul label,
.multi-select-modal.reded .modal-body input[type="checkbox"]:checked + label,
.reded .selected-terpens b,
.reded .selected-terpens p
{color: #cf102d;}

/*
lightblue POPUP
add class lightblue with .modal-dialog.multi-select-modal
*/

.multi-select-modal.lightblue .modal-content,
.multi-select-modal.lightblue button.close,
.multi-select-modal.lightblue .modal-body ul
{border-color:#009CC6;}

.multi-select-modal.lightblue .modal-body input[type="checkbox"]:checked + label
{background: #B7E3EF;}

.multi-select-modal.lightblue .modal-title,
.multi-select-modal.lightblue button.close,
.multi-select-modal.lightblue .modal-body ul label,
.multi-select-modal.lightblue .modal-body input[type="checkbox"]:checked + label,
.lightblue .selected-terpens b,
.lightblue .selected-terpens p
{color: #009CC6;}


/*
lightgreen POPUP
add class lightgreen with .modal-dialog.multi-select-modal
*/

.multi-select-modal.lightgreen .modal-content,
.multi-select-modal.lightgreen button.close,
.multi-select-modal.lightgreen .modal-body ul
{border-color:#63a70a;}

.multi-select-modal.lightgreen .modal-body input[type="checkbox"]:checked + label
{background: #E1EFCF;}

.multi-select-modal.lightgreen .modal-title,
.multi-select-modal.lightgreen button.close,
.multi-select-modal.lightgreen .modal-body ul label,
.multi-select-modal.lightgreen .modal-body input[type="checkbox"]:checked + label,
.lightgreen .selected-terpens b,
.lightgreen .selected-terpens p
{color: #63a70a;}


.shoop_review_links {
    display: inline-block;
    width: 100%;
}
.shoop_review_links a {
    display: inline-block;
    width: 100%;
    padding: 0 20px 0 20px;
    background: #219dc4;
    color: #fff !important;
	line-height:44px;
    text-align: center;
    font-family:'open_sansregular';
    font-size: 15px;
    margin-bottom: 2px;
    border-radius: 25px;
	text-decoration: none !important;
}
.shoop_review_links a:hover, .shoop_review_links a.active{
    background: #123b5f;
}
.shoop-hd-crcl {
    height: 40px;
    background: #782D8E;
    color: #fff;
    padding: 0 36px;
    line-height: 40px;
    border-radius: 20px;
    margin-bottom: 2px;
	font-size:18px;
	font-family:'open_sansregular';
}
.shoop-hd-crcl b, ul.shoop_list li b{font-family: 'open_sanssemibold';font-weight:normal;}
ul.shoop_list {
    display: inline-block;
    width: 100%;
    padding: 0 22px;
}
ul.shoop_list li{
    display: inline-block;
    width: 100%;
	font-family:'open_sansregular';
	color:#782D8E;
	font-size:18px;
	padding: 8px 15px;
	background:#f2eaf4;
	margin-bottom:3px;
}
ul.shoop_list li:nth-child(even){
   background:#d6bfdd;
}

ul.shoop_list li.with-method p{width:auto;float:left}
ul.shoop_list li.with-method .method-text{width:200px;float:right;position:relative;}
.method-text span {
    position: absolute;
    z-index: 11;
    top: 28px;
    left: 10px;
    width: 105px;
    text-align: center;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #fff;
	font-family: 'museo_slab500';
}
.strains_section_holder .strain {
	margin-bottom: -5px;
}
.user-registration-phy {
    margin: 0 auto !important;
    max-width: 430px;
}
/********** AZCANN New Login Page ************/

	.auntzelda-login{
			max-width:2000px;
			/*height:100%;*/
		}
		.auntzelda-login .terms {
    margin-top: 15px;
}
		.auntzelda-login .left-col{
			float:left;
			text-align:center;
			width:50%;
		}
		.auntzelda-login .left-col > h2,
		.auntzelda-login .right-col > h2{
			font-family: 'open_sansregular';
			font-size: 26px;
			font-size: 24px;
			line-height: 75.86px;
			color: #000;
			text-align: center;
			font-weight: bold;
		}
		.auntzelda-login .right-col .login-form{
			text-align:center;
		}
		.auntzelda-login .left-col .login-form img{
			
		}
		.auntzelda-login .right-col .terms p.upper,
		.auntzelda-login .right-col .terms p.bottom{
			    font-weight: bold;
				font-size: 14px;
				line-height: 23px;
				text-align: center;
		}
		.auntzelda-login .left-col .terms p span,
		.auntzelda-login .right-col .sign-up p span{
			color:#39d4e5;
		}
		.auntzelda-login .right-col .terms p span.light{
			color:#7b7b7b;
		}
		.auntzelda-login .right-col{
			float:right;
			text-align:center;
			width:50%;
		}
		.auntzelda-login .left-col .features,
		.auntzelda-login .left-col .features ul,
		.auntzelda-login .left-col .sign-up{
			width:100%;
		}
		.auntzelda-login .left-col .features ul li{
			width: 100%;
			list-style: none;
			margin-bottom: 20px !important;
			float: left;
		}
		.auntzelda-login .left-col .features ul li .icon{
			float:left;
			padding-top:8px;
			width: 32px;
		}
		.auntzelda-login .left-col .features ul li .icon img{
			width:72px;
		}
		.auntzelda-login .left-col .features ul li .text{
			float:right;
			width:90%;
		}
		.auntzelda-login .left-col .features ul li .text h2{
			font-size: 20px;
			line-height: 16px;
			text-align: left;
		}
		.auntzelda-login .left-col .features ul li .text p{
			line-height: 26px;
			text-align: left;
		}
		.auntzelda-login .left-col .sign-up p{
			    font-size: 14px;
    			line-height: 44px;
		}
		img.signup-btn {
			max-width: 230px !important;
		}
		
		@media all and (max-width:767px) {
			.auntzelda-login .left-col, .auntzelda-login .right-col{
			width: 100%;	
			}
			.auntzelda-login .left-col > h2, .auntzelda-login .right-col > h2 {
			line-height: 32px;	
			}
			.auntzelda-login .left-col .features ul li .text h2 {
				font-size: 20px;
				line-height: 34px;
				text-align: left;
			}
		}
		
		/************** Login Ends ************/
		
		
		
		
		/************** Popup Window ************/
#ProductsModal  .cdrmed-step{
	max-height: 768px;
	overflow-x: hidden;
}
.cdrmed_modal_slider, .step_3_slider, .step_2_items{
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    background: #fff;
}
.step_3_slider, .step_2_items{
	padding: 10px 5px;
}
.cdrmed_slide_item{
    display: inline-block;
    width: 23%;
	float: left;
	min-height:200px;
	margin:0 7px;
}
.cdrm_item {
    display: inline-block;
    text-align: center;
    position: relative;
    width: 100%;
}
.cdrm_item img{display: inline-block;}
.cdrm_item .select_cdrm_item {
    position: absolute;
    color: #fff !important;
    background: #2e98c2 !important;
    padding: 5px 10px;
    line-height: normal;
    border-radius: 50px;
    top:5px;
    right: 5px;
}
.cdrm_item .cdrm_title{
    font-size:18px;
}
.cdrm_item a {
    display: inline-block;
    padding: 5px 10px;
    color: #2e98c2;
    text-transform: uppercase;
    font-family: 'open_sanssemibold';
}
.ccdrmf_slider .slick-prev,
.cdrmed_modal_slider .slick-prev,
.step_3_slider .slick-prev,
.step_2_items .slick-prev{
    left: 15px;
}
.ccdrmf_slider .slick-next,
.cdrmed_modal_slider .slick-next,
.step_3_slider .slick-next,
.step_2_items .slick-next{
    right: 15px;
}
.ccdrmf_slider .slick-prev, .ccdrmf_slider .slick-next,
.step_3_slider .slick-prev, .step_3_slider .slick-next,
.step_2_items .slick-prev, .step_2_items .slick-next,
.cdrmed_modal_slider .slick-prev, .cdrmed_modal_slider .slick-next{
    background-color: transparent !important;
    z-index: 100;
}
.ccdrmf_slider .slick-prev:before, .ccdrmf_slider .slick-next:before,
.step_3_slider .slick-prev:before, .step_3_slider .slick-next:before,
.step_2_items .slick-prev:before, .step_2_items .slick-next:before,
.cdrmed_modal_slider .slick-prev:before, .cdrmed_modal_slider .slick-next:before{color: #000;}


.cdrmed_slid_footer {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 0%;
}
#ProductsModal .multi-select-modal .modal-content {
    border: 2px #856ac7 solid;
    border-top: 20px solid #856ac7;
    border-bottom: 20px solid #856ac7;
}
.cdrm-header {
    display: inline-block;
    width: 100%;
    background: #fff;
    text-align: center;
}
#ProductsModal .modal-header {
    min-height: 1px;
    padding: 0;
}
.cdrm-header h4 {
    color: #2E98C2 !important;
    font-size: 20px;
    margin: 20px 0;
}
.cdrmed_slid_footer.ccdrmf_slider{
    display: inline-block;
    width: 100%;
    height:auto;
    padding: 0 50px;
}

.selected_cdrm_items{
    display: inline-block;
    width: 100%;
    cursor: pointer;
}
.slick-current.slick-active .selected_cdrm_items {
    border-bottom: 5px solid #2e98c2;
}
.ccdrmf_slider img{display: inline-block;}
.slick-slide:focus{outline: none;}
.selected_cdrm_items span {
    display: block;
    line-height: 90px;
    border-radius: 10px;
    background: rgba(46,152,194,.5);
    font-family: 'open_sansbold';
    color: #000;
    font-size: 20px;
}
#ProductsModal .multi-select-modal button.close{margin-right: -15px;}
#ProductsModal .multi-select-modal button.close{margin-right: -15px;color: #856ac7;}

.slick-current.slick-active .cdrmed_slide_item {
    border: 2px solid #2e98c2;
    padding: 0;
}

.modal-contendddt.step_2,
.modal-contendddt.step_3 {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.step_2_items .cdrm_item,
.step_3_items .cdrm_item{width: auto;max-width:22%;margin-left: 10px;margin-right: 10px;}
.step_2 .buttons  button,
.step_3 .buttons button{width: auto !important;padding-right: 15px;padding-left: 15px; margin-top: 10px !important;}
.step_2 .selected_cdrm_items,
.step_3 .selected_cdrm_items{
    display: inline-block;
    width: 90px;
    cursor: auto;
    margin: 5px 15px;
    text-align: center;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.theropy_item {
    display: inline-block;
    width: 50%;
    padding: 10px;
}
.theropy_item h4 {
    color: #856ac7;
    font-size: 18px;
}
.droper_icon .fa {
    text-align: center;
    color: #856ac7;
    font-size: 32px;
    margin: 10px auto;
}
.theropy_item li {
    background: #39b56a;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-bottom: 3px solid #27a558;
}

#ProductsModal .cdrmed-step h3.no-therapy{
	padding: 80px 10px; 
	text-align: center;
	font-size: 20px;
}

/*
div#ProductsModal .modal-dialog .modal-content .modal-header{
	overflow:hidden;
	padding:33px;
}		


div#ProductsModal .modal-dialog .modal-content .modal-header #myhealth{
	width: 33%;
    float: left;
	padding:0;
}
div#ProductsModal .modal-dialog .modal-content .modal-header #myhealth .intake-patient-form > a.select-product{
	position: relative;
    top: 45px;
    right: 6%;
    float: right;
    padding: 8px 16px;
    background: #2E98C2;
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
}
div#ProductsModal .modal-dialog .modal-content .modal-header #myhealth .product-image img{
	width: 90%;
    height: 60%;
}

div#ProductsModal .modal-dialog .modal-content .modal-header #myhealth .product-title{
	font-size: 30px;
    margin-top: 5px;
	color:#000000;
	font-weight: bold;
}
div#ProductsModal .modal-dialog .modal-content .modal-header #myhealth .more-info{
    margin: 3px 0;
}
div#ProductsModal .modal-dialog .modal-content .modal-header #myhealth .more-info a{
	font-size: 18px;
	color:#2E98C2;
	font-weight: bold;
}

div#ProductsModal .modal-dialog .modal-content .modal-footer{
	margin-top: 4px;
    background: #000;
    padding: 35px 0;
}
div#ProductsModal .modal-dialog .modal-content .modal-footer .footer-buttons{
	text-align: left;
    padding: 0 45px;
}

div#ProductsModal .modal-dialog .modal-content .modal-footer .footer-buttons a{
	padding: 25px 25px;
    background: #fff;
    margin-right: 10px;
    font-size: 25px;
    color: #000;
	border-radius: 5px;
	font-weight: bold;
	
}
*/

/* Styles go here */
.loading-icon {
  position: relative;
  width: 20px;
  height: 20px; 
  margin:50px auto;
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.loading-icon:before {
  content: "\f110";
  font-family: FontAwesome;
  font-size:20px;
  position: absolute;
  top: 0; 
}
.content_row_wrapper .woocommerce .woocommerce-result-count, .content_row_wrapper .woocommerce-page .woocommerce-result-count {
    margin-left: 15px;
}
.product_info h3 {
    font-size: 20px;
    line-height: 30px;
}
.paging_wrapper>.page-numbers a, .paging_wrapper>.page-numbers li>span {
    margin-bottom: 0;
    background: #fff;
}
/*.fixed-table-loading{opacity:0}*/
.induc, .subs, .prodr {
    display: none;
    width: 350px;
    background: #530000;
    position: absolute;
    left: 05px;
    top: 250px;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    line-height: 16px;
    font-family: 'open_sansregular';
    z-index: 100;
	color: white !important;
}
.mihead {
	color: #530000;
	font-weight: bold;
	font-size: 16px;
}
.mtext {
	color: #000;
	font-weight: bold;
	font-size: 14px;
}
.blink_me {
  animation: blinker 2s linear infinite;
  padding-top: 20px;
  text-align: center;
}
.phys-patient-therapy-class ul.shoop_list1 li, .phys-patient-therapy-class ul.shoop_list2 li ,
.phys-patient-therapy-class ul.shoop_list3 li, .phys-patient-therapy-class ul.shoop_list4 li {
	font-size: 12px;
}
.phys-patient-therapy-class .shoop-hd-crcl1,
.phys-patient-therapy-class .shoop-hd-crcl2,
.phys-patient-therapy-class .shoop-hd-crcl3,
.phys-patient-therapy-class .shoop-hd-crcl4 {
    font-size: 14px !important;
    white-space: nowrap;
	height: auto;
}
/* .phys-patient-therapy-class .col-sm-12 {
	margin-bottom: 25px;
} */
@keyframes blinker {  
  50% { opacity: 0.0; }
}
.slick-slide {
	height: auto;
}
.cdrmed_slid_footer{
	display: none !important;
}
/* .page-template-cdrmed-template-search-php .patient-details-outerwrap p:first-child,
.page-template-cdrmed-template-search-php .patient-details-outerwrap ul:first-child {
	display: none;
} */
.page-template-cdrmed-template-search-php .patient-details-outerwrap p:first-child{
	display: none;
}

.advance-search-row-wrapper{
	padding-top: 5px !important;
}


@media screen and (max-width: 979px){
.header-elements {
padding: 0 20px;
min-height: 100% !important;
}
}