

.cdrmed-activity-log{}
.cdrmed-activity-log .info{
	box-shadow: 0 0 15px 0 #b0b3b5;
    display: inline-block;
    margin: 10px 10px 25px;
    padding: 10px;
    width: 100%;
}
.cdrmed-activity-log .info span{
	display: inline-block;
	width: 250px;
	float: left;
}
.cdrmed-activity-log .actions{
	text-align: right;
}
.cdrmed-activity-log .actions .button{
	float: left;
}
.cdrmed-activity-log .actions input{
	padding: 5px 10px;
	width: 250px;
	margin-left: 10px;
}
.cdrmed-activity-log .actions a{
	margin-left: 10px;
}
.cdrmed-activity-log .bootstrap-table .columns-right{
	display: none;
}


.single-user-activity-log{
	display: inline-block;
	width: 100%;
}

.single-user-activity-log .single-activity{
	display: inline-block;
    margin: 10px;
    padding: 20px;
	width: 46%;
	box-shadow: 0 0 15px 0 #b0b3b5;
	max-width: 500px;
}
.single-user-activity-log .single-activity span{
	 display: inline-block;
    padding: 7px 0;
    width: 100%;
	font-weight: bold;
	border-bottom: 1px solid #b0b3b5;
}

.single-user-activity-log .single-activity .activity{
	margin-top: 10px;
}
.single-user-activity-log .single-activity .activity span{
	font-size: 12px;
}



.activity-log-pag{
	display: inline-block;
    position: static;
    width: 100%;
    margin-top: 30px;
	text-align:center;
}
.activity-log-pag ul{
	display: inline-block;
}
.activity-log-pag ul li{
	list-style: none;
    float: left;
    padding: 0 5px;
}
.activity-log-pag ul li a,
.activity-log-pag ul li span{
	border-color:#0093BE;
	border:1px solid #0093BE;
	color:#0093BE;
	padding: 5px 10px;
    border-radius: 5px;
	background:#fff;
	cursor:pointer;
}
.activity-log-pag ul li .current{
	color:#fff;
	background:#0093BE;
}

.activity-log-pag ul li a:hover{
	color:#fff;
	background:#0093BE;
}


@media all and (max-width:1200px){
	.single-user-activity-log .single-activity{
		
	}
}

@media all and (max-width:768px){
	.single-user-activity-log .single-activity{
		width: 95%;
	}
}