.add-new-patient-form .acf-fields.acf-form-fields {
  background: #e0f4f1;
/*  padding: 50px 20px 20px 20px !important;*/
}

.add-new-patient-form .acf-fields.acf-form-fields .acf-field,
.add-new-patient-form .acf-fields.acf-form-fields .acf-field:before {
  border:none !important;
  background: #e0f4f1;
}

.add-new-patient-form .acf-fields.acf-form-fields .acf-field{
  padding-top: 10px;
}

.add-new-patient-form .acf-fields.acf-form-fields .acf-field .acf-label {
  color: #0c3b60;
  padding: 15px 12px 23px !important;
  background: #e0f4f1;
}

.add-new-patient-form .acf-fields.acf-form-fields .acf-field .acf-label label{
  text-align:left;
  font-family: 'open_sansbold';
}

.add-new-patient-form .acf-fields.acf-form-fields .acf-field.tab_title {
	width: 104% !important;
	left:-2%;
	background:transparent;
	padding: 0;
}

.add-new-patient-form .acf-fields.acf-form-fields .acf-field.tab_title:before{
	background: #F9F9F9;
}

.add-new-patient-form .acf-fields.acf-form-fields .acf-field.tab_title .acf-label {
	width:100%  !important;
	background: #40b46e  !important;
	border-radius: 30px;
	padding: 0  !important;
}

.add-new-patient-form .acf-fields.acf-form-fields .acf-field.tab_title .acf-input {
	display: none;
}

.add-new-patient-form .acf-fields.acf-form-fields .acf-field.tab_title .acf-label label{
	color: #fff !important;
	text-align:center;
	line-height: 35px;
}

.add-new-patient-form .acf-fields.acf-form-fields .acf-field .acf-input input{
	box-shadow: inset 2px 2px 5px 1px #efe9e9;
	padding: 0 8px;
	min-height: 36px !important;
	border: 1px solid #2ba5aa;
	font-size: 13px;
	background: #fff;
	/* padding: 17px 10px; */
}

.add-new-patient-form .acf-fields.acf-form-fields .acf-field .acf-input input[type=checkbox] {
	box-shadow:none !important;
	min-height: auto !important;
}

/*** User Profile CSS by Akmal ***/



/* css for user-profile-custom-fields.php */

#user-custom-profile{
	border: 1px solid #cecece;
    max-width: 480px;
    margin: 0 auto;
	display:inherit;
}

#user-custom-profile tbody{
	display:inherit;
}

#user-custom-profile tr{
	border-color: #E1E1E1;
	border-style: solid;
	border-width: 0 0 1px 0;
	display:inherit;
}

#user-custom-profile tr:before,
#user-custom-profile tr:after{
	content:none;
}

#user-custom-profile th{
	border:none;
	width:26%;
	border-color: #E1E1E1;
	border-style: solid;
	border-width: 0 1px 0 0;
	padding: 15px 12px;
	text-align: center;
	min-width:125px;
}
#user-custom-profile td{
	width:74%;
	border:none;
	padding: 15px 12px;
	max-width: 300px;
}

#user-custom-profile td.health_report_td{
	text-align:left;
}

#user-custom-profile th label span,
#user-custom-profile th span{
	color: #f00;
}

#user-custom-profile .dispensaries_td{
	text-align: left;
}
#user-custom-profile .dispensaries_td #patient_dispensary_model_show{
	color: #fff;
	background: #009bc8;
	padding: 5px 10px;
    border-radius: 15px;
    margin: 0 auto;
    display: inline-block;
}
#user-custom-profile .dispensaries_td #patient_dispensary_model_show:hover{
	background: #35b46f;
}

#user-custom-profile .dispensaries_td span{
	width:100%;
	background: transparent;
	padding: 5px 8px;
    display: inline-block;
    margin: 5px 0;
}
#user-custom-profile .dispensaries_td span.checked{
	box-shadow: 0px 0px 3px inset;
	background: #eee;
}
#user-custom-profile .dispensaries_td span img{
	max-width:50px;
}

#patient_dispensary_model label{
	width: 100%;
	text-align:left;
}



#patient_dispensary_model  .single-dispensary{
	padding: 5px;
    display: inline-block;
    /* max-width: 160px; */
    margin: 5px;
   /*  min-width: 160px; */
	text-align: center;
	display: table-cell;
    float: left;
    border-radius: 5px;
	border: 1px solid #009bc8;
	min-height: 200px;
    width: 48%;
    float: left;
}
#patient_dispensary_model .single-dispensary label .name{
	display: inline-block;
	width: 100%;
}

#patient_dispensary_model .single-dispensary .info > span{
	display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
	/* border: 1px solid #ccc; */
}
#patient_dispensary_model .single-dispensary .info > span:first-child{
	min-height: 40px;
	display: table;
}
#patient_dispensary_model .single-dispensary .info > span:first-child > span{
	display: table-cell;
    vertical-align: middle;
	float:none;
}
#patient_dispensary_model .single-dispensary .info > span .title_span{
	float: left;
    font-weight: bold;
    padding-right: 4px;
    color: #009bc8;
	font-style: normal;
	width: 13%;
	text-align: center;
}

#patient_dispensary_model .single-dispensary .info > span .data_span{
    width: 85%;
    display: inline-block;
    text-align: left;
    float: left;
    font-style: normal;
	word-break: break-all;
}

#patient_dispensary_model .dispensary {
  display: none;
}
#patient_dispensary_model .dispensary + label {
  background: transparent;
  padding: 5px 8px;
  cursor: pointer;
  text-align: center;
}
#patient_dispensary_model .dispensary + label:active,
#patient_dispensary_model .dispensary:checked + label {
  box-shadow: 0px 0px 3px inset;
  background: #eee;
}

#patient_dispensary_model .patient_dispensaries_modal_body{
	max-height: 300px;
    overflow-x: hidden;
	padding: 10px;
	margin-bottom:20px;
}

#patient_dispensary_model  img{
	max-width:50px;
	max-height: 47px;
}

#patient_dispensary_model #patient_dispensary_feedback{
	font-size:16px;
	color: #35b46f;
	padding:10px 5px;
	border: 1px solid #35b46f;
	margin: 0 auto;
    display: inline-block;
}

#patient_dispensary_model .modal-footer{
	margin:0;
}

#add_patient_to_dispensary_list{
	color: #fff;
	padding: 5px 10px;
    border-radius: 15px;
    margin: 0 auto;
    display: inline-block;
	background: #35b46f;
}
#add_patient_to_dispensary_list:hover{
	background: #009bc8;
}

.patient-select-dispensary-list{
    max-height: 200px;
    overflow-x: hidden;	
}


form.user-custom-profile-form .submit-form-btn,
#child-user-setting-form .submit-form-btn{
	text-align: center;
	margin-top: 15px;
}

form.user-custom-profile-form{
	text-align:center;
}


.display-child-users table thead th,
.display-child-users table tbody td{
	vertical-align:middle !important;
}

.display-child-users table tbody td span:hover,
.display-child-users table tbody td span:hover i{
	color: #35b46f;
}


#user-custom-profile td input[type=text],
#user-custom-profile td input[type=password],
#user-custom-profile td input[type=email],
.cdrmed-modal-box-content input[type=password]{
	width:100%;
}

#user-custom-profile .relative_position,
.cdrmed-modal-box-content .relative_position{
	position:relative;
}

#user-custom-profile #password-feedback,
#user-custom-profile #cpassword-feedback{
	display:inline;
	margin-left: 10px;
	position: absolute;
    right: 12%;
    top: 35%;
}
#user-custom-profile #cpassword-feedback{
	top:25%;
}

#user-custom-profile .short,
.cdrmed-modal-box-content .short{
	color:#FF0000;
}

#user-custom-profile .weak,
.cdrmed-modal-box-content .weak{
	color:#E66C2C;
}

#user-custom-profile .good,
.cdrmed-modal-box-content .good{
	color:#2D98F3;
}

#user-custom-profile .strong,
.cdrmed-modal-box-content .strong{
	color:#006400;
}

#user-custom-profile .pshort,
.cdrmed-modal-box-content .pshort{
	border-color:#FF0000;
}

#user-custom-profile .pweak,
.cdrmed-modal-box-content .pweak{
	border-color:#E66C2C;
}

#user-custom-profile .pgood,
.cdrmed-modal-box-content .pgood{
	border-color:#2D98F3;
}

#user-custom-profile .pstrong,
.cdrmed-modal-box-content .pstrong{
	border-color:#006400;
}


#user-custom-profile #c_pos_system_other,
#user-custom-profile #c_inventory_system_other{
	display:none;
}


#user-custom-profile .cropArea,
#user-custom-profile .imgCropped,
#user-custom-profile .clear-profile-img-btn,
#user-custom-profile .change-profile-btn,
#user-custom-profile .remove-profile-btn{
	display:none;
}

#user-custom-profile .clear-profile-img-btn{
	font-size:12px !important;
	line-height: 10px;
	height: 25px !important;
	width: 90px;
	
}

#user-custom-profile .profile-img-crop{
	margin-top:10px !important;
	position:relative;
}


#user-custom-profile .change-profile-btn,
#user-custom-profile .remove-profile-btn{
    position: absolute;
    top: 30px;
    left: 30px;
	color: #fff !important;
    background: #35b46f !important;
	border-radius: 50%;
}
#user-custom-profile .remove-profile-btn{
	background: #f00 !important;
	padding: 5px 8px;
}

#user-custom-profile .change-profile-btn{
	left:20px;
}
#user-custom-profile .remove-profile-btn{
	left:45px;
}

#user-custom-profile .profile_img_file_label{
	border-radius:50%;
}

#user-custom-profile .user-avatar-group{
	position:relative;
	display: inline-block;
}
#user-custom-profile .user-avatar-group .user-avatar{
	border-radius:50%;
	width: 80px;

}
#user-custom-profile .user-avatar-group:hover .change-profile-btn{
	display:block;
}
#user-custom-profile .user-avatar-group:hover .remove-profile-btn{
	display:block;
}

#user-custom-profile .user-avatar-group:hover .change-profile-btn-display{
	display:none !important;
}

#user-custom-profile .change-profile-btn i{
	padding:5px;
}

#user-custom-profile .cropArea{
	margin-bottom:10px !important;
	background: #E4E4E4;
	overflow: hidden;
	width:500px;
	height:350px;
	width: 100%;
	height: 190px;
}

#user-custom-profile .profile_img_file_span{
	cursor: pointer;
    padding: 10px;
	font-size: 12px !important;
}

form.user-custom-profile-form #user-custom-profile-feedback,
.cdrmed-modal-box-content .cdrmed-modal-box-content-feedback,
#child-user-setting-form #nu_feedback{
	font-size: 1.5em;
    text-align: center;
}


#user-custom-profile-form .empty,
.cdrmed-modal-box-content .empty,
#child-user-setting-form .empty{
	border-color:#f00;
}
#user-custom-profile-form .success,
.cdrmed-modal-box-content .success,
#child-user-setting-form .success{
	color:#35B471;
}
.cdrmed-modal-box-content label span,
#child-user-setting-form span,
#user-custom-profile-form .fail,
.cdrmed-modal-box-content .fail,
#child-user-setting-form .fail{
	color:#f00;
}

/* end user profile css */


.patient-action-th{
	text-align:center;
}

.patient-action-td .tooltip.top{
	display: inherit !important;
}

.patient-action-td-child{
	/* color: #00A6BE !important;
	color: #333 !important;
	margin-left:10px; */
	color: #333;
	display: inherit;
    padding: 0 5px;
}

.patient-action-td-child:hover{
	color:#fff !important;
	display: inherit;
}

.child-user-setting{
	max-width: 480px !important;
}

.cdrmed-modal-box-content input[type=text],
.cdrmed-modal-box-content input[type=email],
.cdrmed-modal-box-content input[type=password],
.cdrmed-modal-box-content textarea,
#child-user-setting-form input[type=text],
#child-user-setting-form input[type=email],
#child-user-setting-form input[type=password],
#child-user-setting-form textarea{
	font-size:14px !important;
}

.cdrmed-modal-box-content #m_message{
	padding:8px !important;
}

.cdrmed-modal-box-content #m_password_feedback,
.cdrmed-modal-box-content #m_c_password_feedback,
#nu_password_feedback,
#nu_c_password_feedback{
	display:inline;
	margin-left: 10px;
	position: absolute;
    right: 12%;
    top: 25%;
}


.modal #m_password_feedback,
.modal #m_c_password_feedback,
.modal #nu_password_feedback,
.modal #nu_c_password_feedback{
	top:6px !important;
	right: 6% !important;
}

.cdrmed-modal-box-content #m_password_feedback,
.cdrmed-modal-box-content #m_c_password_feedback{
	/* right: 12% !important; */
}

#nu_password_feedback,
#nu_c_password_feedback{
	top: 35%;
}

/* Child user CSS */
.display-child-users{
	margin-top:20px;
}


/* end of css  for user-profile-custom-fields.php */

/* CSS By Hassan - 07-08-2016 */

.max-internal-width {
	margin: -30px -600rem 35px;
    padding: 0.25rem 600rem;
    position: relative;
    z-index: 0;
}
.darkbluec {
	background: #0D3B5F;
}

/* CSS By Hassan - 12-08-2016
Product Inventory Management Frontend
*/

.pro-single-title {
    color: #003865 !important;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
}
.pro-single-price, .pro-single-sku {
    color: #009cc6;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
	display: inline;
}
.pro-single-sku {
    float: right;
}
#trigger-product-edit-modal {
    background: #009cc6 none repeat scroll 0 0;
    color: white;
	margin: 10px 0;
    width: 100% !important;
}
.new-inp {
	margin-bottom: 7px;
}
.new-inp:last-child {
	margin-bottom: 0px;
}
.expand-full {
	width: 100%;
}

.modal input[type="password"],
.modal .show-password-field{
	/* width: 90% !important; */
	float: left !important;
	margin-right: 5px;
}

#user-custom-profile input[type="password"],
#user-custom-profile .show-password-field{
	/* width: 83% !important; */
    float: left !important;
    margin-right: 5px;
}

#show_password{
	position:absolute;
	right:5%;
	top: 33%;
	cursor: pointer;
	
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}
#show_password{
    visibility: hidden;
}
.modal #show_password{
	right:1%;
	top: 6px;
}

#show_password::before {
	visibility: visible;
	content: "\f06e";
}

  



/*
*
*	Woocommerce Single Product page
*	akmal
*	9/2/2016
*/


.custom-single-product-page{
	padding:50px 0;
}

.custom-single-product-page{}
.custom-single-product-page .summary{}
.custom-single-product-page .summary [itemprop="description"]{
	padding: 20px 0;
    margin: 15px 0;
}
.custom-single-product-page .quantity{
	
}

.custom-single-product-page .quantity input.qty{
	width: 75px !important;
	border-radius: 50px !important;
    box-shadow: none;
	font-size:14px;
}

.custom-single-product-page .single_add_to_cart_button{
	margin:0 20px;
}

.custom-single-product-page form{
	margin: 0 !important;
    padding: 20px 0;
}
.custom-single-product-page .product_meta{
	margin:0;
}
.custom-single-product-page .product_meta .sku_wrapper{
	width:100%;
	display: inline-block;
	margin:5px 0;
}
.edit-child-profile-modal{
	max-height: 768px;
	overflow-x: hidden;
}
.edit-child-profile-modal .user-profile-modal-group{
	margin-bottom: 0 !important;
	margin:0 5px;
}
.edit-child-profile-modal .user-profile-modal-group label{
	margin-bottom: 0;
}
.edit-child-profile-modal .user-profile-modal-group.half{
	width: 48.2%;
	float: left;
}
.edit-child-profile-modal .user-profile-modal-group.three{
	width: 31.5%;
	float: left;
}


.custom-user-modal input[type=text],
.custom-user-modal input[type=email]{
	padding-top:0;
	padding-bottom:0;
}



.dispensary-api-sync-btn{
	color: #fff !important;
    background: #009bc8;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 0 auto;
    display: inline-block;
	cursor: pointer;
	border:1px solid #009bc8;
	text-decoration: none !important;
	font-size: 14px;
}

.dispensary-api-sync-btn:hover{
	background: #fff;
    color: #009bc8 !important;
}

#successMessage{
	border: 1px solid #009bc8;
	color: #009bc8;
	padding: 10px;
}



/*
*
*	Educatonal Topics
*
*/

.educational-modal-box .modal{}
.educational-modal-box .modal .modal-dialog{
	width: 800px;
}
.educational-modal-box .modal .modal-content{
	border: none !important;
	background: #2e98c2;
}

.white-background{
	background: #fff !important;
}

.educational-modal-box #educational_modal_box .modal-header{
	min-height:0 !important;
	padding: 0 !important;
}
.educational-modal-box #educational_modal_box .modal-header,
.educational-modal-box #educational_modal_box .modal-body{
	border: none;
}
.educational-modal-box #educational_modal_box .modal-body{
	
}

.educational-modal-box #educational_modal_box .modal-body .educational-topic{
	margin: 25px 0;
}
.educational-modal-box #educational_modal_box .modal-body .educational-topic .topic-title h2{
	color: #fff !important;
	text-transform: uppercase !important;
	text-align: center;
}
.educational-modal-box #educational_modal_box .modal-body .educational-topic ul{
	-moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}

.educational-modal-box #educational_modal_box .modal-body .educational-topic ul li a{
	color: #fff;
}

.educational-modal-box #educational_modal_box .modal-body .educational-topic ul li a:hover{
	text-decoration: underline;
}


.education-medical-condition{
	background: #40b46e;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    cursor: pointer;
}





@media screen and (max-width: 782px){
    .add-new-patient-form .acf-fields.acf-form-fields .acf-field .acf-label{
    padding:0 !important;
  }
  .add-new-patient-form .acf-fields.acf-form-fields .acf-field.tab_title{
    padding:0;
    width: 106% !important;
    left: -3%;
  }
  	#user-custom-profile tr{
		padding: 15px 0px;
		display: inline-block;
		width: 100%;
	}
	#user-custom-profile th,
	#user-custom-profile td{
		width: 100%;
		display: inline-block;
		border: none;
		text-align: left;
		padding: 0 12px;
	}
}