.ui-tabs.ui-tabs-vertical {
    padding: 0;
    width: 46em;
}
.headrs{ width: 180px; float: left; font-weight: bold;}
.ui-tabs.ui-tabs-vertical .ui-widget-header {
    border: none;
}
.short
 {
    width: 100% !important;
 }
 .tst{ margin-left: 105px;}
.bdr,.bdr2 { border: 1px solid #aaaaaa; width:100%; margin: 80px 10px 10px 10px;}
/* #my-tab-content .short{ width: 20% !important;}*/
 .col1{ width: 49%; /*float: left;*/}
 .col2{ width: 49%; float: right; margin-top: -56px;}
.dv { width: 100%;
    float: left;
    margin-bottom: 10px;
    background: #cccccc;
    padding: 10px;}
.table tr th,.table tr td{/* width: 20%;*/ margin-top: 10px;}
.scnd { margin-left: 25px;}
.tests{ /*float: left;*/
    height: 33px;/*
    margin-left: -35px !important;
    margin-right: 5px !important;*/
    margin-top: 0px !important;
   /* width: 40% !important;*/}
    .ppm { margin-left: 20px !important; float: right;}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    float: left;
    width: 14em;
    background: #CCC;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid gray;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    margin: 0.2em 0;
    border: 1px solid gray;
    border-width: 1px 0 1px 1px;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
    position: relative;
    right: -2px;
    z-index: 2;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    width: 100%;
    padding: 0.6em 1em;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
    cursor: pointer;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0.2em;
    padding-bottom: 0;
    border-right: 1px solid white;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
    margin-bottom: 10px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    width: 28em;
    border-left: 1px solid gray;
    border-radius: 0;
    position: relative;
    left: -1px;
}
.tp { width: 100% !important; /*margin-top: 15px !important;*/}
.tp2 { width: 100% !important; }
.scnd2{width: 40% !important; float: right !important;}
.frst{ width: 40% !important;}
/*.pt { width: 120px !important;}*/
/*#my-tab-content > .tbs2 > .form-field >.short{ width: 100% !important;}
.pt:nth-child(2) { width: 114px !important; margin-left: 38px !important;}
.pt:nth-child(3) { width: 114px !important; margin-left: 48px !important;}
.pt:nth-child(4) { width: 114px !important; margin-left: 87px !important;}*/