/*
  Docs at http://http://simpleweatherjs.com

  Look inspired by http://www.degreees.com/
  Used for demo purposes.

  Weather icon font from http://fonts.artill.de/collection/artill-weather-icons

  DO NOT hotlink the assets/font included in this demo. If you wish to use the same font icon then download it to your local assets at the link above. If you use the links below odds are at some point they will be removed and your version will break.
*/

@font-face {
    font-family: 'weather';
    src: url('fonts/artill_clean_icons-webfont.eot');
    src: url('fonts/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/artill_clean_icons-webfont.woff') format('woff'),
         url('fonts/artill_clean_icons-webfont.ttf') format('truetype'),
         url('fonts/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}





.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }



/* .tab-content.patient-pills.phypl{
	width:100%;
	
}
.tab-content.patient-pills.phypl{
	max-width:100% !important;
} */

.outer-wrap{
	margin-bottom:0 !important;
}

.cdrmed-dashboard{
	/* margin-top:20px; */
	/* margin-top: -10px; */
}
.cdrmed-dashboard.patient-dashboard{
	margin-top: 0;
}

.white-background{
	background: #fff !important;
}


/*
*
*
*			Physician Dashboard Tobars
*
*
*/



.cdrmed-dashboard .physician-dashboard-topbar{
	background:#077CC1;
	/* padding:20px 0;
	display:inline-block;
	width:100%; */
}

.cdrmed-dashboard .physician-dashboard-topbar .first-row{
	padding:15px 0;
}

.cdrmed-dashboard .physician-dashboard-topbar .first-row > div{
	padding:0 5px;
}
.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget{
	min-height:238px;
	background: #ebebeb;
    border-radius: 10px;
	text-align:center;
    width: 100%;
}
.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget .single-box{
    background: #fff;
    border-radius: 10px;
    border-bottom: 4px solid #077cc1;
    display: inline-block;
    width: 100%;
    min-height: 105px;
    padding: 10px 0;
}

.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget h1,
.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget h3,
.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget h4{
	color: #077CC1;
	font-size: 3rem;
}

.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget .single-box .title{
	color: #077CC1;
	font-size: 3rem;
}
.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget .single-box .active-box{
	display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 5px;
    width: 100%;
}
.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget .single-box .active-box a{
	background: #077cc1 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 90%;
	position: relative;
}
.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget .single-box .active-box a:hover{
	text-decoration: none;
	background: #35b46f;
	color: #fff;
}
.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget .single-box .active-box .no-data{
	color: #f00;
}

.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget .other span,
.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget .other a{
	color: #009bc8;
    font-size: 1em;
    margin: 2px 0;
    font-weight: bold;
    display: inline-block;
	text-align:left;
	font-weight: bold;
	width: 90%;
	padding: 4.5px;
	border-radius: 5px;	
}

.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget .other a{
	background: #009bc8;
	cursor: pointer;
	position: relative;
}
.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget .other a.child1{
	background: #d7d7d7;
}
.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget .other a.child2{
	background: #CCC;
}
.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget .other a.child3{
	background: #b7b7b7;
}
.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget .other a.child4{
	background: #9b9b9b;
}
.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget .other a.view-all{
	background: #077cc1;
	color: #fff;
	text-align:center;
}
.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget .other a:hover{
	text-decoration: none;
	background: #35b46f;
	color: #fff;
}

.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget .other span.no-data{
	margin: 19% 0 0;
	text-align: center;
}

.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget .other span.child1{
	background: #ddd;
}
.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget .other span.child2{
	background: #ccc;
}


.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget a .date-hover{
	background: #000 none repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    display: none;
    font-size: 15px;
    right: 0;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: -22px;
    width: 55%;
	padding: 0;
}
.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget  a:hover .date-hover{
	display: inline-block;
}


/*
*
*	Dashboard Calendar Widget
*
*/

.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget.first-widget #current_date{
	font-size:1.3em;
	font-size: 105%;
	margin-bottom: 5px;
	margin: 2px 0;
	padding: 10px 0;
}
.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget.first-widget #user_calendar .ui-datepicker-header{
	display:none !important;
}
.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget.first-widget #user_calendar .ui-datepicker{
	border: none;
    padding: 0;
    margin: 0;
    width: 100%;
	border-radius: 10px;
}
.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget.first-widget #user_calendar table.ui-datepicker-calendar tr:before,
.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget.first-widget #user_calendar table.ui-datepicker-calendar tr:after,
.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget.first-widget #user_calendar table.ui-datepicker-calendar tr th{
	background:transparent !important;
}

.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget.first-widget #user_calendar table.ui-datepicker-calendar tr th span{
	color: #1a3e5e;
	font-weight:bold;
}

.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget.first-widget #user_calendar table.ui-datepicker-calendar thead tr:before,
.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget.first-widget #user_calendar table.ui-datepicker-calendar thead tr:after{
	content:none !important;
}

.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget.first-widget #user_calendar table.ui-datepicker-calendar thead tr th{
	padding: 0;
    height: 46px;
}
.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget.first-widget #user_calendar table.ui-datepicker-calendar tbody tr:before,
.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget.first-widget #user_calendar table.ui-datepicker-calendar tbody tr:after{
	content:none !important;
}

.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget.first-widget #user_calendar table.ui-datepicker-calendar tbody tr td{
	padding: 0;
    height: 29.5px;
	border-right:1px solid #077cc1;
}

.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget.first-widget #user_calendar table.ui-datepicker-calendar tbody tr td:last-child{
	border: none;
}

.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget.first-widget #user_calendar table.ui-datepicker-calendar tbody tr td a{
	background: transparent;
    border: none;
    text-align: center;
	font-weight:bold;
	color: #077CC1;
}

.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget.first-widget #user_calendar table.ui-datepicker-calendar tbody tr td.ui-datepicker-current-day a{
	color: #fff;
    background: #077bb1;
}




/*
*
*
*			Patient Dashboard Tobars
*
*
*/

.password-reset-alert-bar{
	background: #F5C300;
    min-height: 30px;
    margin-top: 0;
    margin-bottom: 0;
}
.password-reset-alert-bar .alert{
	position: relative;
    padding: 0;
}
.password-reset-alert-bar .message{
	width: 100%;
    float: left;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.password-reset-alert-bar #close-palert-bar{
	position:absolute;
	top: 1px;
	right: 24%;
	cursor: pointer;
}
.password-reset-alert-bar #close-palert-bar i{
	border: 1px solid #000;
    padding: 5px;
    border-radius: 50%;
}


.cdrmed-dashboard .patient-dashboard-alert{
	padding: 10px 0;
    display: inline-block;
    width: 100%;
}
.cdrmed-dashboard .patient-dashboard-alert .heart{
	background: #fff;
    float: left;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
}
.cdrmed-dashboard .patient-dashboard-alert .heart i{
	color: #d1102b;
    font-size: 3rem;
    background: #fff;
    padding: 15px;
    border-radius: 50%;
}
.cdrmed-dashboard .patient-dashboard-alert .message{
    width: 45%;
    background: #fff;
    float: left;
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
    margin: 15px 0;
    color: #d1102b;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8em;
    font-family: 'open_sansbold';
}
.cdrmed-dashboard .patient-dashboard-alert button{
    float: left;
    width: 14%;
    background: #d1102b !important;
    margin: 15px 10px;
    height: 30px !important;
    line-height: 30px !important;
	min-width:120px;
}
.cdrmed-dashboard .patient-dashboard-alert button:hover{
	background:#35b46f !important;
}
.cdrmed-dashboard .patient-dashboard-alert .close-alert-bar i{
	margin: 17px 0;
	padding:5px;
}

.cdrmed-dashboard .patient-dashboard-feedback-bar{
	/* box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
	-moz-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
	-webkit-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75); */
	/* box-shadow: 0px 2px 10px 2px rgba(119, 119, 119, 0.25);
	-moz-box-shadow: 0px 2px 10px 2px rgba(119, 119, 119, 0.25);
	-webkit-box-shadow: 0px 2px 10px 2px rgba(119, 119, 119, 0.25); */
	
	/* -webkit-box-shadow: 0px 5px 4px 0px rgba(50, 50, 50, 0.25); */
	-webkit-box-shadow: 0px 5px 4px 1px rgba(119, 119, 119, 0.15);
	-moz-box-shadow:    0px 5px 4px 1px rgba(119, 119, 119, 0.15);
	box-shadow:         0px 5px 4px 1px rgba(119, 119, 119, 0.15);
	
	margin-top: -45px;
}
.cdrmed-dashboard .patient-dashboard-feedback-bar .container{
	max-width:1000px !important;
}
.cdrmed-dashboard .patient-dashboard-feedback{
	display: inline-block;
    text-align: center;
    width: 100%;
	padding: 20px 0;
}
.cdrmed-dashboard .patient-dashboard-feedback form.patient-feedback{
	text-align: center;
}
.cdrmed-dashboard .patient-dashboard-feedback form.patient-feedback h1,
.cdrmed-dashboard .patient-dashboard-feedback form.patient-feedback h3{
	color:#077CC1;
}
.cdrmed-dashboard .patient-dashboard-feedback form.patient-feedback h1{
	font-size:25px;
}
.cdrmed-dashboard .patient-dashboard-feedback form.patient-feedback h3{
	font-size:18px
}
.cdrmed-dashboard .patient-dashboard-feedback form.patient-feedback .radio_images{
	width: 70%;
    /* display: inline-block; */
    text-align: center;
	margin: 20px 0;
}
.cdrmed-dashboard .patient-dashboard-feedback form.patient-feedback .radio_images .radio-item{
	width: 16%;
    margin: 0;
    float: none;
}
.cdrmed-dashboard .patient-dashboard-feedback form.patient-feedback .radio_images .radio-item input[type=radio]:checked + label{
	padding:10px;
	padding: 0 0 10px;
}

.cdrmed-dashboard .patient-dashboard-feedback form.patient-feedback .radio_images .radio-item label{
	background: transparent;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.cdrmed-dashboard .patient-dashboard-feedback form.patient-feedback .radio_images .radio-item label img:first-child{
	margin-bottom: 25px;
}
.cdrmed-dashboard .patient-dashboard-feedback form.patient-feedback .radio_images .radio-item label{}



.cdrmed-dashboard .patient-dashboard-feedback form.patient-feedback #mcomments{
	width: 70%;
}

.cdrmed-dashboard .patient-dashboard-feedback form.patient-feedback #mcomments .clock{
	text-align:left;
}
.cdrmed-dashboard .patient-dashboard-feedback form.patient-feedback #mcomments .clock p{
	width:100%;
}

.cdrmed-dashboard .patient-dashboard-feedback form.patient-feedback #mcomments .buttons{
	width:100%;
	text-align:center;
}


.cdrmed-dashboard .patient-dashboard-feedback form.patient-feedback .buttons{
	margin-bottom:0;
}
.cdrmed-dashboard .patient-dashboard-feedback form.patient-feedback .buttons a{
	text-align: center;
    display: inline-block;
    width: 180px;
    border: none;
    height: 40px;
    margin: 0 5px;
    border-radius: 30px;
    font-family: 'open_sansbold';
    text-transform: uppercase;
    font-size: 18px;
	line-height: 40px;
}
.cdrmed-dashboard .patient-dashboard-feedback form.patient-feedback .buttons button,
.cdrmed-dashboard .patient-dashboard-feedback form.patient-feedback .buttons a{
	text-transform:uppercase;
	color:#077CC1;
	background:transparent !important;
	border:1px solid #077CC1;
	width:25%;
	min-width:220px;
}

.cdrmed-dashboard .patient-dashboard-feedback form.patient-feedback .buttons button:hover,
.cdrmed-dashboard .patient-dashboard-feedback form.patient-feedback .buttons a:hover{
	color:#35b46f;
	border-color:#35b46f;
}

/* .cdrmed-dashboard .patient-dashboard-feedback form.patient-feedback .buttons button[type=button]{
	display:none;
} */





/*
*
*
*			Main Dashboard Contents
*
*
*/

.cdrmed-dashboard .main-dashboard{
	padding: 20px 0;
	display: inline-block;
	width:100%;
}
.cdrmed-dashboard .main-dashboard .sidebar{
	/* display: inline-block; */
	border:none;
}
.cdrmed-dashboard .main-dashboard .sidebar .buttons{}
.cdrmed-dashboard .main-dashboard .sidebar .buttons a{
	display: inline-block;
    width: 90%;
    color: #0F3A5C;
    border: 1px solid;
    border-radius: 50px;
    line-height: 50px;
    margin-bottom: 25px;
    font-size: 2rem;
    font-weight: 500;
	font-family: "museo-slab", 'museo_slab500';
	cursor:pointer;
	opacity:1;
}
.cdrmed-dashboard .main-dashboard .sidebar .buttons a:hover{
	color:#fff;
	background:#0F3A5C;
}
.cdrmed-dashboard .main-dashboard .sidebar .profile{
	text-align: center;
}
/* .cdrmed-dashboard .main-dashboard .sidebar .profile img{
	max-width: 100%;
    height: auto;
    border-radius: 50%;
    /* width: 360px; 
    width: 80%;
} */

.cdrmed-dashboard .main-dashboard .sidebar .profile .dashboard-profile-img#user-custom-profile{
	border:none !important;
}

.cdrmed-dashboard .main-dashboard .sidebar .profile .dashboard-profile-img#user-custom-profile .user-avatar-group .user-avatar{
	width:70%;
}

.cdrmed-dashboard .main-dashboard .sidebar .profile .dashboard-profile-img#user-custom-profile .change-profile-btn{
	top:40%;
	left:35%;
}
.cdrmed-dashboard .main-dashboard .sidebar .profile .dashboard-profile-img#user-custom-profile .remove-profile-btn{
	top:40%;
	left:55%;
}
.cdrmed-dashboard .main-dashboard .sidebar .profile .dashboard-profile-img .clear-profile-img-btn{
	display:none !important;
}
.cdrmed-dashboard .main-dashboard .sidebar .profile .dashboard-profile-img a#profile-change-btn,
.cdrmed-dashboard .main-dashboard .sidebar .profile .dashboard-profile-img a#remove-change-btn{
	background: #077cc1 !important;
    color: #fff;
    display: inline-block;
    border-radius: 50px;
    font-size: 2rem;
	font-family: "museo-slab", 'museo_slab500';
	padding: 5px 8px !important;
	display:none;
	cursor:pointer;
}
.cdrmed-dashboard .main-dashboard .sidebar .profile .dashboard-profile-img a#profile-change-btn:hover{
	background: #0F3A5C !important;
}
.cdrmed-dashboard .main-dashboard .sidebar .profile .dashboard-profile-img a#remove-change-btn:hover{
	background: #f00 !important;
}

.cdrmed-dashboard .main-dashboard .contents{
	text-align: center;
}
.cdrmed-dashboard .main-dashboard .contents h3{
	/* background: #35B471;
    border: 1px solid #0F3A5C;
    border-radius: 50px;
    color: #fff;
    padding: 10px;
    margin: 0 auto;
	text-align: left;
    padding-left: 20px; */
}

.cdrmed-dashboard .main-dashboard .contents .heading{
	color: #077CC1;
	border-bottom:1px solid #333;
	text-align: left;
    padding: 0 0 15px;
	font-family: "museo-slab", 'museo_slab500';
}
.cdrmed-dashboard .main-dashboard .contents .news-feed {
	padding:20px 0;
	text-align: left;
	border-bottom: 1px solid #999;
}
.cdrmed-dashboard .main-dashboard .contents .news-feed .title{
	text-align: left;
    font-family: "Titillium Web";
    font-size: 1.2em;
	margin: 0;
}
.cdrmed-dashboard .main-dashboard .contents .news-feed .category{
	text-align: left;
    font-size: 1em;
    font-weight: bold;
    /* font-weight: 900; */
    font-family: 'open_sansbold';
	color:#1a3e5e;
	padding:5px 0;
}
.cdrmed-dashboard .main-dashboard .contents .news-feed p{
	margin: 0 0 5px;
    text-align: left;
	font-size: 1.4rem;
    /* font-family: 'open_sanssemibold'; */
    font-family: '"Titillium Web"';
}

.cdrmed-dashboard .main-dashboard .contents .news-feed a{
	color:#929699;
	font-family: 'open_sansbold';
	font-size: 1em;
}
.cdrmed-primary-button {
	 padding: 9px !important;
    line-height: 64px !important;
}








.all-appointments .patient-appointment-detail{
	max-height: 470px;
    overflow-x: hidden;
    width: 97%;
    margin: 10px;
}
.all-appointments .physician-single-appointment{
	margin-bottom: 30px;
}
.all-appointments .physician-single-appointment .date{
	margin: 5px 0;
	text-align: left;
}
/* .all-appointments .physician-single-appointment .date.pending{
	color: #009bc8;
}
.all-appointments .physician-single-appointment .date.confirm{
	color: #40b46e;
}
.all-appointments .physician-single-appointment .date.cancel{
	color: #ff0000;
} */
.all-appointments .physician-single-appointment .appointment-collapse{
	border: 1px solid #fff;
	border-bottom: none;
}

.all-appointments .physician-single-appointment .appointment-collapse .panel-heading{
	background: transparent;
    border: 1px solid #fff;
	border-top: 1px solid #eef6fa;
	cursor: pointer;
}
.all-appointments .physician-single-appointment .appointment-collapse.body-border,
.all-appointments .physician-single-appointment .appointment-collapse.body-border .panel-heading{
	border: 1px solid #eef6fa;	
}
.all-appointments .physician-single-appointment .appointment-collapse .panel-heading span.time{
	font-size: 12px;
}
.all-appointments .physician-single-appointment .appointment-collapse .panel-heading span.info{
	color: #009bc8;
	font-weight: bold;
	margin-left: 10%;
}
.all-appointments .physician-single-appointment .appointment-collapse .panel-heading .detail,
.all-appointments .physician-single-appointment .appointment-collapse .panel-heading .detail i{
	color: #009bc8;
	font-size:12px;
}
.all-appointments .physician-single-appointment .appointment-collapse .panel-heading .closed,
.all-appointments .physician-single-appointment .appointment-collapse .panel-heading .closed i{
	color: #009bc8;
	font-size:12px;
}
.all-appointments .physician-single-appointment .appointment-collapse .panel-heading.panel-closed .detail{
	display: none;
}
.all-appointments .physician-single-appointment .appointment-collapse .panel-heading.panel-closed .closed{
	display: inline;
}
.all-appointments .physician-single-appointment .appointment-collapse .panel-heading.panel-opened .detail{
	display: inline;
}
.all-appointments .physician-single-appointment .appointment-collapse .panel-heading.panel-opened .closed{
	display: none;
}

.all-appointments .physician-single-appointment .appointment-collapse .panel-heading.confirm span.time,
.all-appointments .physician-single-appointment .appointment-collapse .panel-heading.confirm span.info,
.all-appointments .physician-single-appointment .appointment-collapse .panel-heading.confirm .detail,
.all-appointments .physician-single-appointment .appointment-collapse .panel-heading.confirm .detail i,
.all-appointments .physician-single-appointment .appointment-collapse .panel-heading.confirm .closed,
.all-appointments .physician-single-appointment .appointment-collapse .panel-heading.confirm .closed i{
	color: #000;
}

.all-appointments .physician-single-appointment .appointment-collapse .panel-heading.cancel span.time,
.all-appointments .physician-single-appointment .appointment-collapse .panel-heading.cancel span.info,
.all-appointments .physician-single-appointment .appointment-collapse .panel-heading.cancel .detail,
.all-appointments .physician-single-appointment .appointment-collapse .panel-heading.cancel .detail i,
.all-appointments .physician-single-appointment .appointment-collapse .panel-heading.cancel .closed,
.all-appointments .physician-single-appointment .appointment-collapse .panel-heading.cancel .closed i{
	color: #fff;
}

.all-appointments .physician-single-appointment .appointment-collapse .panel-heading.confirm{
	background: #40b46e;
	
}
.all-appointments .physician-single-appointment .appointment-collapse .panel-heading.cancel{
	background: #FF0000;
}

.all-appointments .physician-single-appointment .appointment-collapse .panel-heading:hover{
	background: #eef6fa;
}
.all-appointments .physician-single-appointment .appointment-collapse .panel-heading:hover span.time{
	color: #000;
}
.all-appointments .physician-single-appointment .appointment-collapse .panel-heading:hover span.info,
.all-appointments .physician-single-appointment .appointment-collapse .panel-heading:hover .detail,
.all-appointments .physician-single-appointment .appointment-collapse .panel-heading:hover .detail i,
.all-appointments .physician-single-appointment .appointment-collapse .panel-heading:hover .closed,
.all-appointments .physician-single-appointment .appointment-collapse .panel-heading:hover .closed i{
	color: #009bc8;
}

.all-appointments .physician-single-appointment .appointment-collapse .panel-body{
	position: relative;
	text-align: left;
}
.all-appointments .physician-single-appointment .appointment-collapse .panel-body .action{
	position: absolute;
    right: 5px;
    top: 0;
}

.all-appointments .physician-single-appointment .appointment-collapse .panel-body .row{
	margin-left: -15px !important;
    margin-right: -15px !important;
}

.all-appointments .physician-single-appointment .appointment-collapse .panel-body .appointment-action-btn{
	display: inline-block;
    margin: 5px 0;
    text-align: right;
    cursor: pointer;
    display: inherit;
	position: relative;
	outline:0;
	transition-duration: 0.5s;
    overflow: hidden;
	min-width: 122px;
}

.all-appointments .physician-single-appointment .appointment-collapse .panel-body .appointment-action-btn > i{
	border: 1px solid #009bc8;
	color: #009bc8;
	border-radius:5px;
	padding:3px;
	width: 22px;
	text-align: center;
}

.all-appointments .physician-single-appointment .appointment-collapse .panel-body .appointment-action-btn > span{
	position: absolute;
    right: -125px;
    text-align: left;
    -webkit-transition: top 0.6s ease-in-out;
    color: #000;
    background: #009bc8;
    padding: 1px 8px;
    min-width: 72px;
    top: 0;
    color: #fff;
	border: 1px solid #009bc8;
    border-radius: 5px 0 0 5px;
}

/* .all-appointments .physician-single-appointment .appointment-collapse .panel-body .appointment-action-btn:hover{
	border: 1px solid #35b46f;
	color: #35b46f;
} */
.all-appointments .physician-single-appointment .appointment-collapse .panel-body .appointment-action-btn:hover > i{
	border-radius: 0 5px 5px 0;
}
.all-appointments .physician-single-appointment .appointment-collapse .panel-body .appointment-action-btn:hover  > span{
	right: 21px;
    display: block;
}

.all-appointments .physician-single-appointment .appointment-collapse .panel-body .created{
	margin-top: 8px;
    display: inline-block;
    color: #999;
}

/* for patient side */
/* .all-appointments .appointments{
	max-height:500px;
	overflow-x: hidden;
} */

#appointment_view_modal .date-search{
	position:relative;
}
#appointment_view_modal .date-search i{
	position:absolute;
	right: 2%;
    top: 10px;
}



.patinet-side-appointments{
	margin-bottom:30px;
	display: inline-block;
    width: 100%;
}



.symptoms-all-trackers-view{}
.symptoms-all-trackers-view .patient-symptoms-tracker{
	display: inline-block;
    width: 45%;
    margin: 10px;
}
.symptoms-all-trackers-view .patient-symptoms-tracker .symptoms-collapse .panel-heading {
    background: transparent;
    border: 1px solid #fff;
    border-top: 1px solid #eef6fa;
    cursor: pointer;
	display: inline-block;
    width: 100%;
}
.symptoms-all-trackers-view .patient-symptoms-tracker .symptoms-collapse{
	display: inline-block;
    width: 100%;
}
.symptoms-all-trackers-view .patient-symptoms-tracker .symptoms-collapse .panel-heading span.info{
	color: #009bc8;
	font-weight: bold;
	margin-left: 10%;
}
.symptoms-all-trackers-view .patient-symptoms-tracker .symptoms-collapse .panel-heading.panel-closed .detail{
	display: none;
}
.symptoms-all-trackers-view .patient-symptoms-tracker .symptoms-collapse .panel-heading.panel-closed .closed{
	display: inline;
}
.symptoms-all-trackers-view .patient-symptoms-tracker .symptoms-collapse .panel-heading.panel-opened .detail{
	display: inline;
}
.symptoms-all-trackers-view .patient-symptoms-tracker .symptoms-collapse .panel-heading.panel-opened .closed{
	display: none;
}

.cdrmed-dashboard .physician-dashboard-topbar .sidebar .tab-content{
	margin-top: 0 !important;
}



@media screen and (max-width: 1200px){
	
}

@media screen and (max-width: 991px){
	.cdrmed-dashboard .physician-dashboard-topbar .col{
		margin: 10px 0;
	}
	
	.cdrmed-dashboard .physician-dashboard-topbar .second-row{
		padding:0;
	}
	
	.cdrmed-dashboard .physician-dashboard-topbar .second-row .col.right-comment-bars .comment-bar{
		min-height:260px;
	}
	
	.password-reset-alert-bar #close-palert-bar{
		right:5%;
	}
	
	.cdrmed-dashboard .patient-dashboard-alert .close-alert-bar{
		position:static;
	}
	
	
	.cdrmed-dashboard .patient-dashboard-feedback form.patient-feedback .radio_images{
		width:100%;
	}
	
	
	.cdrmed-dashboard .patient-dashboard-alert .message{
		width:60%;
	}
	.cdrmed-dashboard .patient-dashboard-alert button{
		width: 17%;
	}
	
	.cdrmed-dashboard .main-dashboard .sidebar .profile img{
		width:60%;
	}
	.cdrmed-dashboard .main-dashboard .contents{
		margin-top:10px;
	}
	
	
	
	
	
}

@media screen and (max-width: 768px){
	.cdrmed-dashboard .physician-dashboard-topbar .col{
		margin: 5px 0;
	}
	
	.cdrmed-dashboard .physician-dashboard-topbar .second-row .col.right-comment-bars .comment-bar{
		margin:10px 0;
	}
	.cdrmed-dashboard .physician-dashboard-topbar .second-row .col.right-comment-bars .comment-bar .comment-detail{
		text-align:center;
	}
	
	.patient-dashboard-alert{
		text-align:center;
	}
	.cdrmed-dashboard .patient-dashboard-alert .heart{
		margin: 0 5px;
		float: none;
		display: inline-block;
	}
	.cdrmed-dashboard .patient-dashboard-alert .message{
		width: 80%;
		float: left;
		font-size: 1.3em;
		margin: 10px auto;
		float: none;
	}
	.cdrmed-dashboard .patient-dashboard-alert button{
		width: 22%;
		margin: 10px auto 0;
		float: none;
		min-width: 120px;
	}
	.cdrmed-dashboard .patient-dashboard-alert .close-alert-bar{
		position: absolute;
		top: 12px;
		right:0;
	}
	
	
	.cdrmed-dashboard .main-dashboard .sidebar .buttons{
		margin-bottom:15px;
	}
	.cdrmed-dashboard .main-dashboard .sidebar .buttons a{
		margin-bottom:15px;
	}
	.cdrmed-dashboard .main-dashboard .sidebar .profile img{
		width:40%;
	}
	.cdrmed-dashboard .main-dashboard .sidebar .profile a{
		margin-top:25px;
	}
	
	.cdrmed-dashboard .main-dashboard .contents{
		margin-top:40px;
	}
	
	.symptoms-all-trackers-view .patient-symptoms-tracker{
		width: 100%;
	}
	
}

@media screen and (max-width: 480px){
	.password-reset-alert-bar .message{
		font-size:1.5rem;
	}	
	.password-reset-alert-bar #close-palert-bar{
	    right: 0;
		top: 0;
	}
}

