
/*
*
*	For Theme
*
*/
/* .wrapper{
	width: 100%;
	max-width: 100%;
}

.wrapper h1, .wrapper h2, .wrapper h3, .wrapper h4 {
  text-transform: inherit;
  font-style: normal; }


.page .post-title{
	display: none;
}

.med-cure-container{
	padding: 30px 0;
	display: inline-block;
	width: 100%;
}

#site-header nav{
	padding-top: 0;
} */


.daterangepicker.dropdown-menu{
	z-index: 99999999999;
}

/*
*
*	Global
*
*/
h1, h2, h3, h4, h5, h6{
	margin-top: 0;
}

a{
	color: #006400;
}

.default-style a{
	color: #006400;
}

.fixed-table-loading,
.heading-prereg{
	color: #006400 !important;
}

.createdby,
.sec-heading{
	background: #A97717;
}
.sec-heading{
	border-radius: 0;
}

.journey, .journey p{
	color: #006400;
}


.modal .close{
	border-color: #A97717 !important;
	color: #A97717;
}

.cdrmed-filter-selection-class h4,
.navyblue button.close{
	color: #A97717 !important;
}
.btn.bordered{
	border-radius: 5px !important;
}
.btn.bordered:hover{
	background: #006400;
}

.multi-select-modal.purple button.close{
	color: #A97717 !important;
}
.multi-select-modal.navyblue button.close, 
.multi-select-modal.navyblue .modal-body ul,
.clint-summery{
	border-color: #A97717 !important;
}


.strain::before,
.last.strain::after{
	width: 100%;
	border-radius: 0;
}

.shoop-hd-crcl1,
.shoop-hd-crcl2,
.shoop-hd-crcl3,
.shoop-hd-crcl4,
.last::after{
	border-radius: 0;
}

.latest-patient-shoop-select{
	background: #006400;
}
.latest-patient-shoop-select i{
	color: #006400;
}

.darkbluec{
	background: #006400;
}

#update_my_health{
	color: #fff !important;
}

.s_radio label,
.radio-label,
#patient_dispensary_model .single-dispensary .info > span .title_span{
	color: #006400;
}

.simple_radio_holder{
	background: #e5d6b9 !important;
	border-radius: 0;
}

#inventory-form .inventory-form-default .featured_image_group .change_featured_image_btn i{
	color: #A97717;
}
span.dob-tip{
	background: #A97717;
}
span.dob-tip:after{
	border-bottom-color: #A97717;
}

.pro-single-price, .pro-single-sku{
	color: #006400;
}

.cdrm-header h4{
	color: #006400 !important;
}

#ProductsModal .multi-select-modal button.close{
	border-color: #856ac7 !important;
}


/*
*
*	Buttons and Links
*
*/


a:focus, a:hover{
	color: #3E3616;
}




.button, .vamtam-button, input[type="button"], input[type="submit"], #usrform input.sub-but, .default-style input.acf-button[type="submit"], .default-style input[type="button"], .default-style input[type="submit"], .download-shoop-but a, .modal-footer button, .clint-summery.right-sided .btn.bordered, .form-footer-btns .btn, .product_info_footer a,
.cdrmed-dashboard .main-dashboard .sidebar .buttons a,
#patients > a.cdrmed-primary-button,
#user-custom-profile .dispensaries_td #patient_dispensary_model_show,
.buttons button,
#inventory-form .inventory-form-custom #add_field_button, #inventory-form .inventory-form-custom #add_field_button2, #inventory-form .inventory-form-custom #add_field_button3, #add_field_button_today_ingested,
.inventry-products .topbar a.new-product,
.clint-summery.right-sided .btn.bordered,
.dispensary-api-sync-btn,
#inventory-form .inventory-form-default #new_category_group #new_category_btn,
.inventry-products .grid-list .pro-single-meta .pro-single-action-buttons a,
.cdrm_item .select_cdrm_item{
	background: #fff !important;
	border: 1px solid #006400 !important;
	color: #006400 !important;
	border-radius: 5px !important;
}

.button:hover, .vamtam-button:hover, input[type="button"]:hover, input[type="submit"]:hover, #usrform input.sub-but:hover, .default-style input.acf-button[type="submit"]:hover, .default-style input[type="button"]:hover, .default-style input[type="submit"]:hover, .download-shoop-but a:hover, .modal-footer button:hover, .button:hover, .vamtam-button:hover, input[type="button"]:hover, input[type="submit"]:hover, #usrform input.sub-but:hover, .acf-button:hover, .modal-footer button:hover, .clint-summery.right-sided .btn.bordered:hover, .form-footer-btns .btn:hover, .product_info_footer a:hover,
.cdrmed-dashboard .main-dashboard .sidebar .buttons a:hover,
#patients > a.cdrmed-primary-button:hover,
#user-custom-profile .dispensaries_td #patient_dispensary_model_show:hover,
.buttons button:hover,
#inventory-form .inventory-form-custom #add_field_button:hover, #inventory-form .inventory-form-custom #add_field_button2:hover, #inventory-form .inventory-form-custom #add_field_button3:hover, #add_field_button_today_ingested:hover,
.inventry-products .topbar a.new-product:hover,
.clint-summery.right-sided .btn.bordered:hover,
.dispensary-api-sync-btn:hover,
#inventory-form .inventory-form-default #new_category_group #new_category_btn:hover,
.inventry-products .grid-list .pro-single-meta .pro-single-action-buttons a:hover,
.cdrm_item .select_cdrm_item:hover{
	background: #006400 !important;
	color: #fff !important;
}

.search > a{
	color: #006400 !important;
}


.inventory-pag ul li .current, .dosing-history-pag ul li .current,
.inventory-pag ul li a:hover, .dosing-history-pag ul li a:hover{
	background: #006400 !important;
	color: #fff !important;
}

.inventory-pag ul li a, .inventory-pag ul li span, .dosing-history-pag ul li a, .dosing-history-pag ul li span{
	border-color: #006400 !important;
	color: #006400 !important;
}



/*
*
*	Inputs
*
*/

.gform_wrapper .gform_body input[type="text"], .gform_wrapper .gform_body input[type="url"], .gform_wrapper .gform_body input[type="email"], .gform_wrapper .gform_body input[type="tel"], .gform_wrapper .gform_body input[type="number"], .gform_wrapper .gform_body .ginput_complex input[type="password"], .gform_wrapper .gform_body select, .form-control, .default-style input[type="text"], .default-style select, .default-style input[type="url"], .default-style input[type="email"], .default-style input[type="tel"], .default-style input[type="number"], input[type="password"], .loginmodal-container input[type="text"]:hover, input[type="password"]:hover, .loginmodal-container input[type="text"], input[type="password"]{
	border-color: #006400;
}


.gform_wrapper .gform_body textarea, .default-style textarea, .default-style .acf-input select, .default-style .col select, .default-style .content_row_wrapper textarea{
	border-color: #006400;
}




/*
*
*	header
*
*/
.top-header.fullwidth{
	border-color: #006400;
}
header .right-border{
	display: none;
}

.header-right > nav{}
.header-right > nav .menu{}
.header-right > nav .menu li{
	text-align: right;
}
.header-right > nav .menu li > a{
	padding: 10px !important;
}
.header-right > nav .menu li .sub-menu{
	display: inline-block !important;
	position: static !important;
	width: 100% !important;
	text-align: right !important;
}

.header-right > nav .menu li .sub-menu li{
	display: inline-block
}
.header-right > nav .menu li .sub-menu li a{}


#navigation{
	text-align: right !important;
}
#navigation  > li{
	display: inline-block;
	float: none;
}
#navigation  > li:first-child{
	width: 100%;
}
#navigation  > li:hover a{
	background: transparent !important;
	color: #3E3616 !important;
}
#navigation  > li > a{
	padding: 10px !important;
}

.single-login-link{
	margin-top: 22px;
}

#pending-counts{
	margin-right: 0;
}

/*
*
*	footer
*
*/

footer#footer > section{
	background-color: #006400;
}

#footer::before,
#footer::after{
	content: none !important;
}

#footer .footer_widgets::after,
#footer .footer_widgets::after{
	content: none;
}

#footer .footer_info_bar{
	display: none;
}

.content_row.row.clearfix.footer_contents.footer_info_bar.fullwidth{
	background: #006400 !important;
}


/*
*
*	Main Nav
*
*/

.nav.nav-pills.patient-tabs.patienttb, .nav.nav-pills.patient-tabs.phytb{
	max-width: 100%;
}

.content_row_wrapper .nav.nav-pills.patient-tabs{
	text-align: center;
}
.content_row_wrapper .nav.nav-pills.patient-tabs > li{
	background: transparent;
	border-radius: 0;
	border: none;
	padding: 0;
	min-width: 0;
	display: inline-block;
	margin: 0 !important;
	float: none;
}
.content_row_wrapper .nav.nav-pills.patient-tabs > li.active{
	background: #003200;
	background: transparent;
}
.content_row_wrapper .nav.nav-pills.patient-tabs > li:hover{
	background: transparent;
}

.content_row_wrapper .nav.nav-pills.patient-tabs > li a{
	border: none;
	color: #006400 !important;
}

.content_row_wrapper .nav.nav-pills.patient-tabs > li.active a{
	color: #003200 !important;
}

.content_row_wrapper .nav.nav-pills.patient-tabs > li:hover a{
	color: #003200 !important;
}





/*
*
*	Dashboard Widgets
*
*/

.cdrmed-dashboard .physician-dashboard-topbar,
.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget.first-widget #user_calendar table.ui-datepicker-calendar tbody tr td.ui-datepicker-current-day a{
	background: #006400;
}

.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget h1, .cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget h3, .cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget h4,
.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget.first-widget #user_calendar table.ui-datepicker-calendar tbody tr td a,
.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget.first-widget #user_calendar table.ui-datepicker-calendar tr th span,
.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget .other span, .cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget .other a,
.cdrmed-dashboard .main-dashboard .sidebar .buttons a,
.cdrmed-dashboard .main-dashboard .contents .heading{
	color: #006400 !important;
}

.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget.first-widget #user_calendar table.ui-datepicker-calendar tbody tr td,
.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget .single-box,
.cdrmed-dashboard .main-dashboard .sidebar .buttons a{
	border-color: #006400 !important;
}

.cdrmed-dashboard .physician-dashboard-topbar .first-row .dashboard-widget.first-widget #user_calendar table.ui-datepicker-calendar tbody tr td.ui-datepicker-current-day a{
	color: #fff !important;
}

.cdrmed-dashboard .main-dashboard .sidebar .profile .dashboard-profile-img a#profile-change-btn, .cdrmed-dashboard .main-dashboard .sidebar .profile .dashboard-profile-img a#remove-change-btn{
	background: #006400 !important;
}
.cdrmed-dashboard .main-dashboard .sidebar .profile .dashboard-profile-img a#profile-change-btn:hover{
	background: #A97717 !important;
}


.cdrmed-dashboard .patient-dashboard-feedback form.patient-feedback .buttons button, .cdrmed-dashboard .patient-dashboard-feedback form.patient-feedback .buttons a{
	border-radius: 5px !important;
	background: #fff !important;
	border-color: #006400 !important;
	color: #006400 !important;
}
.cdrmed-dashboard .patient-dashboard-feedback form.patient-feedback .buttons button:hover, .cdrmed-dashboard .patient-dashboard-feedback form.patient-feedback .buttons a:hover{
	background: #006400 !important;
	color: #fff !important;
}


/* .cdrmed-dashboard .main-dashboard .sidebar .buttons a,
#patients > a.cdrmed-primary-button{
	background: #fff !important;
	border-color: #006400 !important;
	border-radius: 5px;
}
.cdrmed-dashboard .main-dashboard .sidebar .buttons a:hover{
	color: #fff !important;
	background: #006400 !important;
} */



/*
*
*	table
*
*
*/
.patient-pills thead tr:before, .patient-pills thead tr:after, .table thead tr:before, .table thead tr:after{
	background: #A97717 !important;
	content: none !important;
}

.patient-pills thead tr th, .table thead tr th,
.patient-pills .fixed-table-body::after, .fixed-table-body::after{
	background: #A97717 !important;
}


.patient-pills .fixed-table-body::after, .fixed-table-body::after{
	margin-left: 0;
	border-radius: 0;
	width: 100% !important;
}

.patient-pills tbody tr::before, .table tbody tr::before,
.patient-pills tbody tr::after, .table tbody tr::after{
	content: none !important;
}

/*
*
*	form & advance search
*
*/

.pull-right.search .form-control{
	color: #006400 !important;
	border-color: #006400 !important;
	border-radius: 5px !important;
}
.pull-right.search::after{
	color: #006400 !important;
	line-height: 45px;
}

#menu1 .pull-right.search{
	margin-top: 3px !important;
}
.pull-right.search{
	margin-top: 10px !important;
}
.physician-patients-tab .pull-right.search, .dispensar-patients-tab .pull-right.search {
    margin-top: -41px !important;
}



/*
*
*	ACF
*
*/


#myhealth .acf-field.acf-field-message.tab_title, .patient-details-outerwrap .acf-field.acf-field-message.tab_title,
.add-new-patient-form .acf-fields.acf-form-fields .acf-field.tab_title .acf-label,
#myhealth .acf-tab-wrap.-left .acf-tab-group li.active a, .acf-fields.acf-form-fields.-top.-sidebar .acf-tab-group li.active a{
	background: #A97717 !important;
}

#myhealth .acf-tab-wrap.-left .acf-tab-group li a, .acf-fields.acf-form-fields.-top.-sidebar .acf-tab-group li a{
	background: #006400 !important;
}

#myhealth .acf-tab-wrap.-left .acf-tab-group li:hover a, .acf-fields.acf-form-fields.-top.-sidebar .acf-tab-group li:hover a{
	background: #A97717 !important;
}

#myhealth .acf-fields.-sidebar, .acf-fields.acf-form-fields.-top.-sidebar,
.add-new-patient-form .acf-fields.acf-form-fields,
.add-new-patient-form .acf-fields.acf-form-fields .acf-field,
.add-new-patient-form .acf-fields.acf-form-fields .acf-field .acf-label{
	background: #e5d6b9 !important;
}
.add-new-patient-form .acf-fields.acf-form-fields .acf-field.tab_title .acf-label{
	border-radius: 0;
}
.add-new-patient-form .acf-fields.acf-form-fields .acf-field.tab_title:before,
.add-new-patient-form .acf-fields.acf-form-fields .acf-field.tab_title:after{
	content: none;
}

.add-new-patient-form .acf-fields.acf-form-fields .acf-field, .add-new-patient-form .acf-fields.acf-form-fields .acf-field::before{
	background: #e5d6b9 !important;
}


/*
*
*	Shoop
*
*/




.shoop_review_links a,
#mode1{
	background: #fff !important;
	border: 1px solid #006400 !important;
	color: #006400 !important;
	border-radius: 5px !important;
}

.shoop_review_links a:hover,
#mode1:hover{
	background: #006400 !important;
	color: #fff !important;
}

.modal .modal-content{
	border-radius: 0;
}



/*
*
*	Orders
*
*/

.inventory-orders .single-order .inventory-order-collapse .panel-body .order-action-btn > span,
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover,
.patient-pills .fixed-table-pagination button.btn,
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover{
	background: #006400 !important;
}
.inventory-orders .single-order .inventory-order-collapse .panel-heading span.info,
.inventory-orders .single-order .inventory-order-collapse .panel-heading span.date,
.inventory-orders .single-order .inventory-order-collapse .panel-heading .detail,
.inventory-orders .single-order .inventory-order-collapse .panel-heading .detail i,
.inventory-orders .single-order .inventory-order-collapse .panel-heading .closed,
.inventory-orders .single-order .inventory-order-collapse .panel-heading .closed i,
.inventory-orders .single-order .inventory-order-collapse .panel-body .order-action-btn > i,
.cdrmed-dashboard .patient-dashboard-feedback form.patient-feedback h1,
.cdrmed-dashboard .patient-dashboard-feedback form.patient-feedback h3,
.pagination > li > a, .pagination > li > span{
	color: #006400 !important;
}
.inventory-orders .single-order .inventory-order-collapse .panel-body,
.inventory-orders .single-order .inventory-order-collapse .panel-body .order-action-btn > i,
.dosing-history .single-dose,
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
	border-color: #006400 !important;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover,
.patient-pills .fixed-table-pagination button.btn span{
	color: #fff !important;
}



@media only screen and (min-width: 769px) {
	.health_hd .hd_item strong,
	.table_data.feedback-table .data_row .data_item span{
		color: #006400 !important;
	}
}